@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,900&display=swap');

:root {
	--mainColor: #3498db;
	--startButtonColor: #3ecf8e;
	--borderRadius: 4px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.5rem;
}

body {
	font-family: 'Roboto', sans-serif;
	background-image: url('./assets/white-waves.png');
	margin: 1rem 2rem;
	/* position: relative; */
}

.image {
	flex: none;
	/* position: absolute; */
	top: -1000px;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	min-height: 65px;
	padding: 0.5rem;
	border-bottom: 1px solid gray;
}

#about-page,
#suggeriments-page,
#title {
	cursor: pointer;
}

#title.show {
	display: none;
}

#navbar {
	width: 30%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-evenly;
	min-height: 2rem;
}

#navbar li {
	font-size: 1.2rem;
	padding: 0.5rem;
	margin-bottom: 1px;
}

#burguer,
#close {
	display: none;
}

#burguer.show,
#close.show {
	display: block;
}

#title,
#navbar li {
	margin-bottom: 5px;
}

#title:hover,
#navbar li:hover {
	transform: scale(1.1);
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(90vh - 65px);
	width: 100%;
	position: relative;
	/* background-color: red; */
}

#container::after {
	position: fixed;
	content: '';
	width: 450px;
	height: 450px;
	background-image: url('./assets//geganta.png');
	left: 70%;
	bottom: 0px;
	z-index: -1;
}

#error {
	height: 2rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

#error.activated {
	background-color: red;
	color: #fff;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

@keyframes spinner {
	to {
		transform: rotate(360deg);
	}
}

.loading {
	box-sizing: border-box;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid #ccc;
	border-top-color: #000;
	animation: spinner 0.6s linear infinite;
}

button {
	border: none;
	padding: 1rem;
	border-radius: var(--borderRadius);
	color: white;
	box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#start-button {
	background-color: var(--startButtonColor);
	font-size: 3rem;
	text-shadow: 0 1px 3px rgba(36, 180, 126, 0.4);
	text-transform: uppercase;
}

button:hover:enabled {
	transform: translateY(-1px);
}

#start-button:disabled {
	background-color: gray;
}

#content {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	/* background-color: green; */
}

#actionItems {
	/* background-color: red; */
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	height: 50%;
}

#actionItems * {
	/* background-color: yellow; */
	margin-top: 1rem;
}

.outline {
	border-bottom: 5px solid var(--mainColor);
}

#stamp {
	position: absolute;
	bottom: 20vh;
	left: 50px;
	box-shadow: 0 0 0 3px red, 0 0 0 2px red inset;
	border: 2px solid transparent;
	border-radius: 4px;
	display: inline-block;
	padding: 1rem 2px;
	line-height: 22px;
	color: red;
	font-size: 24px;
	text-align: center;
	opacity: 0.8;
	width: 300px;
	height: 4rem;
	transform: rotate(-15deg);
}

#pregunta,
#explanation {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	padding: 0 1rem;
}

#pregunta span {
	color: var(--mainColor);
	margin: 0 0 0 0.5rem;
	font-weight: bold;
}

#respostes {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#answer-option {
	background-color: var(--mainColor);
	font-size: 2rem;
	margin: 10px 2%;
	min-width: 200px;
}

#auxiliary {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}

#telegram-logo {
	color: #039be5;
}
#whatsapp-logo {
	color: #4ded67;
}

#twitter-logo {
	color: #1da1f2;
}

#tryAgain {
	background-color: var(--startButtonColor);
	font-size: 2rem;
}

.shareButton {
	margin: 1rem 2rem;
	padding: 0;
	width: 100px;
	height: 100px;
	text-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.shareButton:hover {
	transform: translateY(-1px);
}

a {
	text-decoration: none;
	color: white;
}

.hidden {
	visibility: hidden;
}

#text-page {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 50px;
	padding: 3rem 25% 3rem 3rem;
}

#text-page * {
	margin: 1rem 0;
	line-height: 1.6;
}

@media (max-width: 500px) {
	header {
		min-height: 20vh;
	}
	#navbar {
		display: none;
		min-width: 50%;
	}
	#navbar li {
		font-size: 2rem;
	}
	#toggle {
		display: block;
	}
}

@media (max-width: 500px) {
	#aux {
		font-size: 2rem;
	}
}

@media (max-width: 500px) {
	#respostes button {
		font-size: 1rem;
		margin: 1rem;
		padding: 0.5rem;
		min-width: 100px;
		height: 50px;
	}
}

@media (max-width: 500px) {
	button {
		width: 90vw;
		font-size: 2rem;
	}
}

@media (max-width: 500px) {
	#pregunta {
		font-size: 2rem;
	}
}
