@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap');

* {
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: 'Lato', sans-serif;
	background-color: #f9fafb;
	padding: 1rem;
}

header {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	border-bottom: 1px dashed gray;
	height: 20vh;
	padding: 1rem;
}

header h1 {
	font-size: 3rem;
}

@media (max-width: 500px) {
	header {
		height: 20vh;
	}
	header h1 {
		font-size: 1.25rem;
	}
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 70vh;
	width: 100%;
}

#error {
	height: 2rem;
}

#error.activated {
	background-color: red;
	color: #fff;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0.5rem;
}

button {
	background-color: #3498db;
	border: none;
	padding: 2rem;
	font-size: 4rem;
	border-radius: 0.2rem;
	color: white;
}

@media (max-width: 500px) {
	button {
		width: 90vw;
		font-size: 2rem;
	}
}

#content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#pregunta {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 4rem;
}

@media (max-width: 500px) {
	#pregunta {
		font-size: 2rem;
	}
}

#respostes {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
}

#respostes button {
	font-size: 3rem;
	margin: 2rem;
	padding: 1rem;
	border: none;
	background-color: #3498db;
	border-radius: 0.2rem;
	color: white;
	max-width: 400px;
	min-width: 200px;
	height: 150px;
}

@media (max-width: 500px) {
	#respostes button {
		font-size: 1rem;
		margin: 1rem;
		padding: 0.5rem;
		min-width: 100px;
		height: 50px;
	}
}
#auxiliary {
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	font-size: 3rem;
	font-weight: bold;
}

button.shareButton {
	margin: 1rem 2rem;
	padding: 0;
	width: 100px;
	height: 100px;
	/* background-color: red; */
	background-color: #f9fafb;
}

button.shareButton img {
	width: 100%;
	height: auto;
}

@media (max-width: 500px) {
	#aux {
		font-size: 2rem;
	}
}

a {
	text-decoration: none;
	color: white;
}
